{%- liquid
  assign collection = collections[settings.cart_drawer_upsell_collection]
  assign products = collection.products
  assign products_limit = settings.cart_drawer_upsell_products_limit
-%}

<div class="cart-drawer-upsell">
  {% if products.size > 0 %}
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for product in products limit: products_limit %}
          <div class="swiper-slide">
            {% render 'cart-upsell-product-item', product: product %}
          </div>
        {% endfor %}
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  {% endif %}
</div>
