{%- liquid
  assign variant = product.selected_or_first_available_variant

  assign on_sale = false
  if variant.compare_at_price > variant.price
    assign on_sale = true
  endif
-%}

<div class="price {% if on_sale %}price--on-sale{% endif %}">
  <span class="price-item price-item--regular">
    {%- if on_sale -%}
      <s class="price-item__sale-price">{{ variant.compare_at_price | money }}</s>
    {%- endif -%}
    <span class="price-item__price">{{ variant.price | money }}</span>
  </span>
</div>
